body {
 background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;
align-items: center;

}
h1{
    text-transform: uppercase;
    margin: 10px 0;
    color: purple;
}
p{
    font-size: 20px;
    color: whitesmoke;
}

button{
    background-color: blueviolet;
    color:aliceblue;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;

}
button :hover{
    background-color: rgb(255, 0, 0);
}
video{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    object-fit: cover; 
}

.tarjeta{
    background-color: rgb(0, 0, 0);
    border: 5px solid darkred;
    text-align: center;

}